@import "../../variables";

// Fix prime-ng accordion problem when is in tab view
:host ::ng-deep {
    .p-accordion-tab:not(.p-accordion-tab-active) {
        .p-toggleable-content {
        height: 0;
        overflow: hidden;
        }
    }

    .p-accordion-tab.p-accordion-tab-active {
        .p-toggleable-content {
        height: auto !important;
        overflow: auto !important;
        }
    }
}

.settings {
    position: absolute;
    z-index: 10000;

    bottom: $border + 64px; // Size of button
    left: $border;
}

.style {
    display: flex;

    &-category {
        display: flex;
        align-items: center;
    }
}

:host ::ng-deep .filterModal.p-tabview {
    .p-tabview-nav>li {
        width: 100%;

        .p-tabview-nav-link {
            justify-content: center;
        }
    }
}